# PostgreSQL Database Configuration
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# JWT Configuration
JWT_BASE64_SECRET=

# 5 minutes
ACCESS_TOKEN_VALIDITY_IN_SECONDS=

# 100 days
REFRESH_TOKEN_VALIDITY_IN_SECONDS=

# Verify Email
VERIFY_BASE_URL=

# Email Configuration
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_SMTP_AUTH=
EMAIL_SMTP_STARTTLS_ENABLE=