# PostgreSQL Database Configuration
DATABASE_URL=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# JWT Configuration
JWT_BASE64_SECRET=
ACCESS_TOKEN_VALIDITY_IN_SECONDS=
REFRESH_TOKEN_VALIDITY_IN_SECONDS=